<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <link rel="stylesheet" href="/assets/application.css">
  </head>

  <body>
    <p class="notice"><%= flash[:notice] %></p>

    <p class="show-p">
      <span class="font-bold">Title:</span>
      <%= @book.title %>
    </p>

    <p class="show-p">
      <span class="font-bold">Body:</span>
      <%= @book.body %>
    </p>

    <%= link_to "Edit", edit_book_path(@book.id) %> |
    <a href="/books">Back</a>
  </body>
</html>